.section-concept {
  padding-bottom: 0;
}

.section-concept__inner {
  background-color: var(--color-black);
  display: grid;
  grid-template-areas: "concept";
  place-items: center;
  min-height: 100vh;
  padding-bottom: 0;
}

.section-concept__content {
  grid-area: concept;
  color: white;
  z-index: 1;
}

.section-concept__title {
  margin: 0;
  font-size: max(24px, 3.6vw);
  text-align: center;
  color: white;
  text-shadow: 0 0 2vw rgba(0, 29, 43, 0.35), 0 0 1vw rgba(0, 29, 43, 0.75);
}

.section-concept__text {
  margin-top: 0.3em;
  font-size: max(14px, 1.8vw);
  text-align: center;
  text-shadow: 0 0 1vw rgba(0, 29, 43, 0.35), 0 0 0.5vw rgba(0, 29, 43, 0.75);
}

.section-concept__image {
  grid-area: concept;
  @media not secreen and (min-width: 768px) {
    height: 100%;
    object-fit: cover;
  }
}

/* concept */
.concept {
  color: #69354C;
}

.concept h3 {
  color: #69354C;
  font-size: 22px;
  font-family: "Shippori Mincho B1", serif;
}

.concept-header {
  position: relative;
  display: grid;
  grid-template-areas: "slide";
  place-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
}

.concept-message {
  font-size: clamp(16px, 1.7vw, 20px);
}
