:root {
  --color-accent: #866607;
  --color-sub-accent: #1D2A82;
  --color-secondary: #70295E;
  --color-danger: #dc3545;
  --color-font: #333333;
  --color-black: #000000;
  --space-x1: 4px;
  --space-x2: 8px;
  --space-x3: 12px;
  --space-x4: 16px;
  --space-x5: 20px;
  --space-x6: 24px;
  --space-x7: 28px;
  --space-x8: 32px;
  --space-x9: 36px;
  --space-x10: 40px;
  --space-x15: 60px;
  --space-x20: 80px;

  --break-sm: 576px;
  --break-md: 768px;
  --break-lg: 992px;
  --break-xl: 1200px;

  --page-width: 1200px;
  --font-pridi: 'Pridi', serif;
  --font-shippori: 'Shippori Mincho B1', serif;
}